In [3]:
import pandas as pd

In [4]:
path = "diabetes_prediction_dataset.csv"
diabetes_df=pd.read_csv(path)

In [5]:
diabetes_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [6]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [7]:
bins = [0,12,18,35,65,80]
labels= ['children','teen','young_adults','adults','senior']
diabetes_df['binned_age'] = pd.cut(diabetes_df['age'],bins=bins,labels=labels)
diabetes_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,binned_age
0,Female,80.0,0,1,never,25.19,6.6,140,0,senior
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,adults
2,Male,28.0,0,0,never,27.32,5.7,158,0,young_adults
3,Female,36.0,0,0,current,23.45,5.0,155,0,adults
4,Male,76.0,1,1,current,20.14,4.8,155,0,senior
...,...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0,senior
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,children
99997,Male,66.0,0,0,former,27.83,5.7,155,0,senior
99998,Female,24.0,0,0,never,35.42,4.0,100,0,young_adults
99999,Female,57.0,0,0,current,22.43,6.6,90,0,adults

In [8]:
diabetes_df['smoking_history'].value_counts()

No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: smoking_history, dtype: int64

In [9]:
diabetes_df= diabetes_df[diabetes_df!= 'No Info'].dropna()
diabetes_df['smoking_history'].value_counts()

never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: smoking_history, dtype: int64

In [10]:
diabetes_df['smoking_history'] = diabetes_df['smoking_history'].replace('ever', 'never')
diabetes_df['smoking_history'].value_counts()

never          39099
former          9352
current         9286
not current     6447
Name: smoking_history, dtype: int64

In [11]:
diabetes_df.to_csv('diabetes_clean_df', index=False)